* {
    padding: 0;
    margin: 0;
}

p {
    color: rgb(192, 219, 57);
    height: 6vh;
    font-weight: bold;
    padding: 9px;
    font-size: auto;
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(47, 49, 52);
    color: rgb(192, 219, 57);
    height: 55px;
    border: 3px solid black;
    border-radius: 15px;
    margin: 3px;
}

.deakin {
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(192, 219, 57);
    height: 6vh;
    font-weight: bold;
    padding: 10px;
}

.s {
    display: flex;
}

.s input {
    width: 1120px;
    height: auto;
    border-radius: 10px;

}

.button {
    margin-left: 10px;
    cursor: pointer;
    height: 30px;
 
}