

* {
    padding: 0;
    margin: 0;
}

p {
    display: flex;
    justify-content: flex-start;
   text-align: justify;
    color: aquamarine;
    height: 4vh;
    font-weight: bold;
    font-size: 25px;
    align-items: center;

}
header {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(58, 55, 55);
    color: aquamarine;
    height: 55px;
    border: 3px solid black;
    border-radius: 15px;
    margin: 3px;
}
.s {
    display: flex;
}

.s input {
    width: 1000px;
    height: auto;
    border-radius: 10px;

}

.b {
    display: flex;
    cursor: pointer;
    margin-left: 10px;
  
}
